$primary: #d81e5b;
$secondary: #8c38ff;
$dark: #131a26;
$light: #eee;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace !important;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    min-height: 100vh;
    padding: 16px;
}

body {
    background-color: $light;
}

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 100%;
    color: #fff;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
}

.chart {
    width: 400px;
}